<div class="add-flight-container">
    <div class="terminal-header">
      <mat-icon class="text-cyan">add_box</mat-icon>
      <span>CREATE NEW FLIGHT NODE</span>
    </div>
  
    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()" class="cyber-form">
      <div class="form-row">
        <mat-form-field appearance="outline" class="cyber-input">
          <mat-label>FLIGHT NUMBER (e.g. AT123)</mat-label>
          <input matInput formControlName="flightNumber" placeholder="AT456">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="cyber-input">
          <mat-label>AIRLINE CARRIER</mat-label>
          <mat-select formControlName="airlineCode">
            @for (airline of this.flightService.metadata()?.airlines; track airline.code) {
              <mat-option [value]="airline.code">{{ airline.name }} ({{ airline.code }})</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="outline" class="cyber-input">
          <mat-label>ORIGIN AIRPORT</mat-label>
          <mat-select formControlName="depAirportCode">
            @for (port of metadata()?.airports; track port.code) {
              <mat-option [value]="port.code">{{ port.name }} [{{ port.code }}]</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="cyber-input">
          <mat-label>DESTINATION AIRPORT</mat-label>
          <mat-select formControlName="arrAirportCode">
            @for (port of this.flightService.metadata()?.airports; track port.code) {
              @if (port.code !== flightForm.get('depAirportCode')?.value) {
                <mat-option [value]="port.code">{{ port.name }} [{{ port.code }}]</mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="outline" class="cyber-input">
          <mat-label>DEPARTURE ISO</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="departure">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="cyber-input">
          <mat-label>DURATION (MIN)</mat-label>
          <input matInput type="number" formControlName="duration">
        </mat-form-field>
      </div>
  
      <button mat-flat-button class="submit-btn" [disabled]="flightForm.invalid || loading()">
        @if (loading()) { <span class="blink">EXECUTING...</span> }
        @else { <span>INSERT INTO GRAPH</span> }
      </button>
    </form>
  </div>