.example-spacer {
  flex: 1 1 auto;
}

.brand-name {
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 8px;
}

.neojet-toolbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}