<div class="main-content">
  <div class="search-panel">
    <!-- <div class="flex gap-2 mb-4">
      <button mat-stroked-button 
              [class.active-mode]="roundTrip()" 
              (click)="onRoundTrip()">ROUND TRIP</button>
      <button mat-stroked-button 
              [class.active-mode]="oneWay()" 
              (click)="onOneWay()">ONE WAY</button>
    </div> -->

    <mat-stepper orientation="vertical" (selectionChange)="handleStepChange($event)" #stepper>
      
      <mat-step [stepControl]="routeForm">
        <form [formGroup]="routeForm">
          <ng-template matStepLabel>Departure Origin</ng-template>
          <mat-form-field appearance="outline" class="full-width space-field">
            <mat-label style="color: #00bcd4;">Leaving from...</mat-label>
            <mat-select formControlName="departureCity"style="color: #00bcd4;" > 
              @for (city of flightService.cities(); track city) {
                <mat-option [value]="city" >{{ city }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button mat-button matStepperNext type="button">Next: Arrival</button>
        </form>
      </mat-step>

      <mat-step [stepControl]="routeForm">
        <form [formGroup]="routeForm">
          <ng-template matStepLabel>Destination</ng-template>
          <mat-form-field appearance="outline" class="full-width space-field">
            <mat-label>Going to...</mat-label>
            <mat-select formControlName="arrivalCity" style="color: #00bcd4;">
              @for (city of flightService.cities(); track city) {
                @if (city !== routeForm.get('departureCity')?.value) {
                  <mat-option [value]="city">{{ city }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
          <div class="actions">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="button">Next: Dates</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="detailsForm">
        <form [formGroup]="detailsForm">
          <ng-template matStepLabel>Preferences</ng-template>
          
          <div class="form-grid">
            <!-- @if (roundTrip()) {
              <mat-form-field appearance="outline" class="space-field full-width">
                <mat-label>Departure - Return</mat-label>
                <mat-date-range-input [formGroup]="dateRangeGroup" [rangePicker]="picker" [min]="minDate">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            } @else { }-->
              <mat-form-field appearance="outline" class="space-field full-width">
                <mat-label style="color: #00bcd4;">Departure Date</mat-label>
                <input matInput [matDatepicker]="onePicker" [min]="minDate" formControlName="departureDate" style="color: #00bcd4;">
                <mat-datepicker-toggle matSuffix [for]="onePicker"></mat-datepicker-toggle>
                <mat-datepicker #onePicker></mat-datepicker>
              </mat-form-field>
            
            
            <mat-form-field appearance="outline" class="full-width">
              <mat-label style="color: #00bcd4;">Class</mat-label>
              <mat-select formControlName="seatClass" style="color: #00bcd4;">
                <mat-option value="Economy">Economy</mat-option>
                <mat-option value="Business">Business</mat-option>
                <mat-option value="First">First</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      
          <button mat-flat-button color="accent" class="full-width search-button" (click)="onSearch()">
            Search Flights
          </button>
        </form>
      </mat-step>
    </mat-stepper>

    @if (flightService.isSearching()) {
      <mat-spinner></mat-spinner>
    } @else {
      <div class="results-list">
        @for (flight of flightService.searchResults(); track flight.flightNumber) {
          <mat-card class="flight-card" (click)="viewDetails(flight.flightNumber)">
            <mat-card-header>
              <mat-card-title>{{ flight.departureAirport.city.name }} - {{ flight.arrivalAirport.city.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Departure:</strong> {{ flight.departure | date:'short' }}</p>
              <p class="price-tag">
                <span>Price:</span> {{ flight.prices[0]?.amount }} {{ flight.prices[0]?.currency }}
              </p>
            </mat-card-content>
          </mat-card>
        } @empty {
          <p>No flights found for these criteria.</p>
        }
      </div>
    }
  </div>

  <div class="globe-wrapper">
    <div #globeContainer class="globe-canvas"></div>
  </div>
</div>